body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    
    padding: 30px;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#head{
    display: block;
    background-color: #f1f1ff;
    border-radius: 60px 0px;
    width: 830px;
    margin-bottom: -20px;
    margin-left: -0.7px;
}

.border{
    width: 27%;
    background-color: #f1f1ff;
    padding: 30px;
    border-radius: 60px 0px;
    padding-top: 20px;

}

.top .border{
    height: 120px;
    border-radius: 1px 0px;
    margin-bottom: 5px;
}


.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: -50px;
    
}

.left h2{
    font-size: 15px !important;
}

.header {
    width: 70%;
    padding-left: 20px;
    text-align: left;
    /*border-bottom: 2px solid #007BFF;*/
}
.sub-header p{
    text-align: justify;
    margin-bottom: -20px;
    padding-left: 50%;
}

h1 {
    font-size: 35px;
    color: #333;
    margin-bottom: -5px;
}

h2 {
    font-size: 20px;
    color: #007BFF;
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left{
    
    font-size: 9px !important;
    padding-left: 20px;
}
.left p, .left li {
    font-size: 9px !important; /* Aplicando a redução dentro da left */
}

.right{
    width:70%;
    padding: 20px;

    text-align: left;
    background-color: white;
    border-radius: 10px;
}

p, li {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.btn-print {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 12px;
    background: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-print:hover {
    background: #0056b3;
}

@media print {
    .btn-print {
        display: none;
    }
    
    body {
        /*background: white;*/
        padding: 0;
    }
    
    .border{
   
        background-color: #f1f1ff;
        padding: 30px;
        border-radius: 60px 0px;
        padding-top: 20px;
    
    }
    
    .container {
        box-shadow: none;
       /* width: 100%; */
    }
    
    /*
    .content {
        flex-direction: column;
    }
    */
}
